body {
  font-family: "Roboto", sans-serif;
  font-size: 15.5px;
  padding: 1%;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5em;
}

.logo-container {
  margin-top: -2%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
  }

  .condo-clear-logo {
    max-width: 170px; 
  }
  
  .certificate-header {
    margin-bottom: 4em;
    text-align: center;
  }

  .certificate-header h2 {
    font-size: 22px;
    /* margin: 0; */
    font-weight: 50;
  }

  .certificate-header p {
    font-size: 17px;
    margin-top: -0.9em;
    /* margin: 0; */
    font-weight: 50;
  }
  
  
  .download-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(97, 175, 224);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .download-btn:hover {
    background-color: #4793d1;
  }
  
 .signature-container {
    text-align: left;
  }
  
  .signature-pad {
    border: 1px solid #ccc;
    height: 6.5em;
    width: 19em;
  }
  
  .clear-btn {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .clear-btn:hover {
    background-color: #e0e0e0;
  }

#signatureCouncil {
  border: 1px solid #ccc;
  float: left;
  margin-right: 20px; 
}
  
  #signatureSecond {
    border: 1px solid #ccc;
  }

  ol {
    list-style-type: none;
    counter-reset: item;
  }

  li {
    position: relative;
    margin-bottom: 1em;
    padding-left: 30px; 
  }

  li:before {
    content: "(" counter(item, lower-alpha) ") ";
    counter-increment: item;
    position: absolute;
    left: 0;
    top: 0;
  }
  

  




  