body {
  font-family: "Arial", sans-serif;
  font-size: 17px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .condo-clear-logo {
    max-width: 150px; 
  }
  
  h2 {
    text-align: center;
    color: black;
    margin-bottom: 80px;
    margin-top: 50px;
  }
  
  .download-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(97, 175, 224);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .download-btn:hover {
    background-color: #4793d1;
  }
  
.signature-container {
    text-align: left;
  }
  
  .signature-pad {
    border: 1px solid #ccc;
    height: 8em;
    width: 20em;
  }
  
  .clear-btn {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .clear-btn:hover {
    background-color: #e0e0e0;
  }

#signatureCouncil {
  border: 1px solid #ccc;
  float: left;
  margin-right: 20px; 
}
  
  #signatureSecond {
    border: 1px solid #ccc;
  }

  @media print {
    footer a {
      display: none;
    }
  }